//todo ЧЕРНОВИК с плюшками

ul {
    @include clear-list();
    // display: flex;
    color: $grin;
    font-size: 2rem;
    margin-bottom: 4rem;
}

a {
    font-size: 2rem;
    color: $grin;
    margin-left: 10rem;
    text-align: center;
    border: 10px inset $eio;
    text-decoration: none;

    &:hover {
        color: $eio;
    }
}

.logo {
//     background-image: url("../../dist/images/icon/i.jpeg");
//     background-size: 100%;
//     background-attachment: fixed;
//     /* padding: 20px; */
//     background-size: cover;
//     background-repeat: no-repeat;
    border: 1px solid green;
    border-radius: 50%;
    height: 120px;
    width: 120px;

}

.box{
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
}