.btn {
   // backdrop-filter: blur(20px) brightness(130%);
   // opacity: 0.8;
  background: rgba(19,154,17,0.5);
  width: 180px;
  height: 90px;
  text-align: center;
  border-radius: 30px;
  box-shadow: rgb(112, 193, 115) 20px 20px 30px;
  //  color: #fff;
  &:hover {
  color: #000;
}

& a {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
}