$color-primary-0: #1dd300;
/* Основной Цвет */
$color-primary-1: #379f27;
$color-primary-2: #138a00;
$color-primary-3: #52e93b;
$color-primary-4: #7be969;

$color-secondary-a-0: #00a383;
/* Вторичный Цвет A */
$color-secondary-a-1: #1e7b69;
$color-secondary-a-2: #006b56;
$color-secondary-a-3: #35d1b3;
$color-secondary-a-4: #5fd1bb;

$color-secondary-b-0: #9fee00;
/* Вторичный Цвет B */
$color-secondary-b-1: #86b32c;
$color-secondary-b-2: #689c00;
$color-secondary-b-3: #b9f73e;
$color-secondary-b-4: #caf770;

$color-primary-0: rgba(29, 211, 0, 1);
/* Основной Цвет */
$color-primary-1: rgba(56, 158, 40, 1);
$color-primary-2: rgba(19, 137, 0, 1);
$color-primary-3: rgba(82, 233, 58, 1);
$color-primary-4: rgba(122, 233, 105, 1);

$color-secondary-a-0: rgba(0, 159, 142, 1);
/* Вторичный Цвет A */
$color-secondary-a-1: rgba(30, 119, 109, 1);
$color-secondary-a-2: rgba(0, 103, 92, 1);
$color-secondary-a-3: rgba(52, 207, 190, 1);
$color-secondary-a-4: rgba(93, 207, 195, 1);

$color-secondary-b-0: rgba(168, 240, 0, 1);
/* Вторичный Цвет B */
$color-secondary-b-1: rgba(139, 180, 45, 1);
$color-secondary-b-2: rgba(109, 156, 0, 1);
$color-secondary-b-3: rgba(192, 247, 62, 1);
$color-secondary-b-4: rgba(207, 247, 111, 1);