.foto-fut {
    width: 80px;
    height: 100px;
}

.icon {

& img{
    height: 50px;
    width: 50px;
}
}

.fut {
    background-color: rgba(255, 255, 255, 0.5);
    height: 150px;
    padding: 20px;
}