// Основные настройки, шаблоны типовых блоков
// Внутри файла расположите базовые стили проекта, которые не привязаны к конкретной секции.

* {
  box-sizing: border-box;
}

html,
body {
height: 100%;
}

html {
  font-size: 18px;
  font-family: "Roboto-Regular";
  line-height: 1.5;
  color: $color-primary-2;
  // text-shadow: 1px 1px #fff;
  // background-color: $color-secondary-a-4;
  @include bg-image("don_1.webp");
  overflow-x: hidden;
}

html,
body,
h1,
h2,
h3,
p,
ul,
div,
form,
input,
hr,
span,
pre,
button {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  }

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
  flex: 1 0 auto;
  @media (max-width: 1024px){
    margin: 10px;
  }


  @include set-media(1024px) {
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }

}

.header {
  flex: 0 0 auto;
  } 

  .footer {
    flex: 0 0 auto;
    } 

ul {
  list-style: none;
  text-decoration-style: unset;
}

input {
  color: inherit;

  border: none;
}

input::placeholder {
  color: inherit;

  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}