// Основные настройки, шаблоны типовых блоков
// Внутри файла расположите базовые стили проекта, которые не привязаны к конкретной секции.

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Roboto-Regular";
  line-height: 1.5;
  color: $color-primary-2;
 
  // background-color: $color-secondary-a-4;
  @include bg-image("don_1.webp")
}

// #content{
//   @include bg-image("don_1.webp");
//   height: 100vh;
// }

html,
body,
h1,
h2,
h3,
p,
ul,
div,
form,
input,
hr,
span,
button {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;

  @include set-media(425px) {
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}

ul {
  list-style: none;
  text-decoration-style: unset;
}

input {
  color: inherit;

  border: none;
}

input::placeholder {
  color: inherit;

  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}