header{
    margin: 30px;


.logo {
    height: 80px;
    width: 80px;
    
    & img {
        height: 100%;
        width: 100%;
        // border: 1px solid $color-primary-4;
        border-radius: 50%;
    }
}

ul {
    width: 600px;
    font-family: "Caveat-Medium";
    font-size: 2em;
}

}