// Внутри этого файла подключайте все созданные SASS файлы. Именно этот файл и будет преобразован в css.
@font-face {
  font-family: "Caveatr-Regular";
  src: url("/dist/fonts/caveat/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Caveatr-Bold";
  src: url("/dist/fonts/caveat/Caveat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caveatr-Medium";
  src: url("/dist/fonts/caveat/Caveat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/dist/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/dist/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/dist/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@import "variables";
@import "general";
@import "atomic";
@import "colors";

@import "./elements/Header";
@import "./elements/footer";

@import "./elements/input";
@import "./elements/btn";
@import "./elements/card";
