section {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .8);
    border-radius: 10px;
    border: 15px groove rgb(176, 235, 179);
    width: 450px;
    height: auto;

.autor {
    display: block;
    width: 100%;
    /* border-radius: 10px; */
}


.info {
    background-color: rgb(4, 116, 4);
    max-height: max-content;
    overflow: hidden;
    opacity: 0.6;
    /* border-radius: 10px; */
}

.left {
    float: left;
    width: 60%;

}

.right {
    padding: 30px 0;
    float: left;
    width: 40%;
    text-align: center;
}

@media (max-width:425px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        float: none;
    }
}

#play,
#pause{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px groove rgb(176, 235, 179);
    color: $color-primary-2;
    font-size: 3em;
}

.singer {
    font-size: 2em;
    font-family: 'Caveat-Medium';
    color: rgb(255, 254, 254);
    margin-left: 10px;
}

.name {
    font-size: 1.5em;
    font-family: 'Roboto-Medium';
    color: rgb(255, 254, 254);
    margin-left: 10px;
}

image {
    height: 350px;
    width: 450px;
}
}