$grin: rgb(110, 221, 66);

$eio: rgb(20, 151, 202);

@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    @include clear-list();
    // display: flex;
    color: $grin;
    font-size: 2rem;
    margin-bottom: 4rem;
}

a {
    font-size: 2rem;
    color: $grin;
    margin-left: 10rem;
    text-align: center;
    border: 10px inset $eio;
    text-decoration: none;

    &:hover {
        color: $eio;
    }
}

img {
    height: 500px;
    width: 400px;
}
.icon {
    width: 40px;
    height: 40px;

    &-twt {
    fill: blue;
    }

    &-instgmn {
      fill: red;
    }
  
    &-whtspp {
      fill: green;
    }
  
    &-instgmn {
      fill: rgb(160, 39, 39);
    }
  
    &-block {
      fill: rgb(188, 188, 236);
    }
  }